
.wrapper{
  margin: 0 auto;
  padding: $space;
  width: $wrapper-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper__content{
    display: flex;
    height: $wrapper-height;
    margin: 0 auto;
    max-width: $wrapper-width;

    @include desktop{
        padding: $large-space $space;
    }
}
.wrapper__sidebar{
    display: flex;
    width: 100vw;
    transition: left .6s ease;

    position: fixed;
    top: $title-bar-height;
    left: -100vw;
    bottom: 0;
    z-index: 1;

    @include desktop{
        display: flex;
        width: $wrapper-sidebar-width;
        padding-right: $large-space;
        position: static;
    }
}

.is-nav-open .wrapper__sidebar{
    left: 0;
}



.wrapper__main{
    display: flex;
    width: 100%;
    @include desktop{
        width: $wrapper-main-width;

    }

}
