.wrapper{
  margin: 0 auto;
  padding: $space;
  width: $wrapper-width;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapper__content{
    display: flex;
    height: $wrapper-height;
    margin: 0 auto;
    max-width: $wrapper-width;
    padding: $large-space $space;
}
.wrapper__sidebar{
    width: $wrapper-sidebar-width;
    display: flex;
    padding-right: $large-space;
}

.wrapper__main{
    width: $wrapper-main-width;
    display: flex;

}
